h1{
	text-align: center;
	font-size: 60;
	color: black;
	text-decoration-line: bold;
}
h2{
	text-align: left;
	font-size: 18;
	color: black;
}
.header{
	border-bottom: 2px solid black;
}

li {
	list-style: none;
}